@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~@fortawesome/fontawesome-free/css/all.css';
@import url('https://fonts.googleapis.com/css?family=Alata&display=swap');

body {
  overflow-y: hidden;
  background-color: #F8F8F8;
  font-family: 'Alata', sans-serif;
}
