<div style="position: relative; border-radius: 12px; box-shadow: 0px 0px 30px 5px rgba(185, 185, 185, 0.1); border: 1px solid #f4f4f4; background-color: white; padding: 40px; height: 600px; width: 400px; margin-left: auto; margin-right: auto; position: relative">
    <div style="position: absolute; top: 20px; left: 20px; width: 300px;">
        <i class="fas fa-tag" style="color: #f4f4f4; font-size: 24px; display: inline-block"></i>
        <div style="display: inline-block; margin-left: 15px; color: #f4f4f4; font-size: 18px;">20% discount</div>
    </div>
    <i class="fas fa-share-square"
       style="position: absolute; top: 20px; right: 20px; color: #f4f4f4; font-size: 24px; cursor: pointer"></i>
    <img alt="Sneaker" src="../../assets/sneaker.png"
         style="height: 40%; display: block;width: auto; margin-top: 30px;">
    <div style="margin-top: 0px; width: 100%; text-align: center">
        <div class="fas fa-star" style="color: #FFF334; margin-right: 5px; font-size: 18px;"></div>
        <div class="fas fa-star" style="color: #FFF334; margin-right: 5px; font-size: 18px;"></div>
        <div class="fas fa-star" style="color: #FFF334; margin-right: 5px; font-size: 18px;"></div>
        <div class="fas fa-star" style="color: #ccc; margin-right: 5px; font-size: 18px;"></div>
        <div class="fas fa-star" style="color: #ccc; margin-right: 5px; font-size: 18px;"></div>
        <div style="color: #aaa; font-weight: 600; font-size: 24px; width: 100%; text-align: center; margin-top: 20px;">
            NIKE FREE RUN V2
        </div>
        <div style="font-size: 14px; color: #dfdfdf; margin-bottom: 30px;">
            Men Orangeblow Darken Sportswear Sneakers
        </div>
        <div style="width: 100%; text-align: center; display: inline-block">
            <div style="color: #aaa; font-weight: 600; text-decoration: line-through; margin-right: 5px; font-size: 24px; display: inline-block">
                $178.47
            </div>
            <div style="color: darkorange; font-weight: 600; font-size: 24px; margin-left: 5px; display: inline-block">
                $74.59
            </div>
        </div>
        <div style="margin-top: 30px; margin-left: auto; margin-right: auto;">
            <div style="margin-right: 10px; cursor: pointer; border: 1px solid #ccc; border-radius: 6px; color: #ccc; text-align: center; width: 40px; height: 50px; padding: 5px 0; line-height: 40px; display: inline-block;">
                38
            </div>
            <div style="background-color: #f4f4f4; margin-right: 10px; cursor: pointer; border: 1px solid #ccc; border-radius: 6px; color: #ccc; text-align: center; width: 40px; height: 50px; padding: 5px 0; line-height: 40px; display: inline-block;">
                39
            </div>
            <div style="margin-right: 10px; cursor: pointer; border: 1px solid #ccc; border-radius: 6px; color: #ccc; text-align: center; width: 40px; height: 50px; padding: 5px 0; line-height: 40px; display: inline-block;">
                40
            </div>
            <div style="margin-right: 10px; cursor: pointer; border: 1px solid #ccc; border-radius: 6px; color: #ccc; text-align: center; width: 40px; height: 50px; padding: 5px 0; line-height: 40px; display: inline-block;">
                41
            </div>
        </div>
    </div>
    <div style="position: absolute; left: 0; right: 0; bottom: -20px; margin-left: auto; box-shadow: 0px 0px 30px 5px rgba(255, 140, 0, 0.6); margin-right: auto; width: 230px; cursor: pointer; height: 45px; background-color: darkorange; color: white; text-align: center; line-height: 45px; border-radius: 32px;">
        I want this
    </div>
</div>
